.tree-node{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  overflow: hidden;
  span.text-node{
    display: flex;
    align-items: center;
    margin-right: auto;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    i{
      margin-right: 5px;
    }
  }
  .tool-sets{
    flex: 0 0 auto;
    opacity: 0;
  }
}