node_modules
extensions
dist
dist-server
db/database.sqlite
db/*.sql
build/*
!build/icons
!build/license
*/**/.DS_Store
.DS_Store
.eslintrc
.eslintrc.js
.idea
extensions.zip
src/renderer/formulaLanguageServer/.antlr/.antlr
/static/ChinaLife.feiyanworkspace
/auto-imports.d.ts
/src/renderer/auto-imports.d.ts
/src/renderer/components.d.ts
.history
.vscode