.setup-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 1px);
    overflow: hidden;
  .setupTab{
    width: 100%;
    height: calc(100% - 1px);
  }
}