.splitpanes {background-color: white;}

.splitpanes__splitter {background-color: #ccc;position: relative;}
.splitpanes__splitter:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.3s;
  background-color: lightgray;
  opacity: 0;
  z-index: 1;
}
.splitpanes__splitter:hover:before {opacity: 1;}
.splitpanes--vertical > .splitpanes__splitter:before {left: -2px;right: -2px;height: 100%;}
.splitpanes--horizontal > .splitpanes__splitter:before {top: -2px;bottom: -2px;width: 100%;}

#np-rogress #nprogress .bar {
  background: #409eff !important;
}
.el-dialog__header {
  margin-right: 0px !important;
}