.output-box{
  padding-top: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  background: #F4F9FD;
  .filter-input{
    margin: 10px;
    display: block;
    width: unset;
  }
  .el-tree{
    background: transparent;
  }
  &:deep(.el-tree-node__content) {
    font-size: 14px;
    height: 32px;
    > .el-tree-node__expand-icon {
      // padding: 6px 8px;
    }
  }
  &:deep(.el-tree-node:focus) {
    > .el-tree-node__content {
      background-color: #d9eeff;
      color: black;
      font-weight: 500;
    }
  }

  &:deep(.el-tree-node.is-current) {
    > .el-tree-node__content {
      background-color: #CCE9FF;
      border: 1px solid #3B8BFF;
      color: black;
      font-weight: 500;
    }
  }

  &:deep(.el-tree-node__content:hover) {
    background-color: #CCE9FF;

    .mask-block-node > .tool-sets {
      opacity: 1;
    }
  }
  .node-input{
    width: calc(100% - 15px);
    margin-left: 5px;
    &:deep(.el-input__inner) {
      height: 26px;
      line-height: 26px;
    }
  }
  .mask-block-node {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    .title {
      flex: 1 1 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      align-items: center;
    }

    .tool-sets {
      flex: 0 0 auto;
      display: inline;
      opacity: 0;
    }
    .icon {
      margin-right: 2px;
    }
  }
}
